# Insert the following snippet into your project .npmrc

@vas-mkt-scope:registry=https://us-npm.pkg.dev/sit-cicd-images-base/liverpool-vas-npm-images-base/
//us-npm.pkg.dev/sit-cicd-images-base/liverpool-vas-npm-images-base/:always-auth=true
